form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: rgb(95, 95, 95);
    padding: 25px 50px 25px 50px;
    border-radius: 20px;
}

h2,
input {
    font-family: "Arial";
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=date]{
    margin-left: 25%;
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(161, 161, 161);
}

.boton {
    font-size: 20px;
    width: 100%;
    background-color: #36ca3b;
    color: white;
    padding: 14px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 8px 0;
    border: 1px;
    border-radius: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.boton:hover {
    background-color: #2fe736;
}